html,body{
  width:100%;
  height:100%;
}
header{
  width:100%;
  height:100%;
  background-image:url("../img/header-photo.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navi */
.navbar{
  background:none;
  padding-top:20px;
}
.navbar-inverse{
  border:none;
}
/* Navbar Logo */
.navbar-header{
  padding-left: 5%;
}
.navbar-brand{
  width:75%;
  height:auto;
  overflow: hidden;
}
.navbar-brand>img{
  width:100%;
}
/* Navbar Right */
.navbar-right{
  padding-right:5%;
  height:auto;
}
.navbar-right>li{
  font-size: 1.5em;
}
.navbar-nav>li>a{
}

/* Header Article_Main-Logo */
.home_wrap{
  width:100%;
  overflow: hidden;
}
.home_wrap .home_text{
  display:block;
  width:80%;
  margin:15% auto 10%;
  text-align: center;
}
.home_wrap .home_text>p,img{
  font-size: 3em;
  color: #fff;
  padding:1%;
}
